<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
          crossorigin="anonymous">
          
        {% block scripts %}
          <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        var xhr;

        // start 버튼을 누르면 chatTrain 함수가 실행되게끔 수정 (정종현)
        function chatTrain() {
    
            var strurl = "chattrain";
            
            alert("plese wait for chatbot-train\nNOTE: Do Not Press Start Button again");
            //return false;
    
            xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                
                if (xhr.readyState == 4) {
                    alert("chickenbot almost thre!!!");
                    var data = xhr.responseText;
    
                    var obj = JSON.parse(data);
                    window.setTimeout('alert(obj.result_msg);window.close();',5000);
                    //alert(obj.result_msg);
                    location.href = "{% url 'home' %}";
                }
            };
            xhr.open("GET", strurl);
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
            xhr.send(null);
        };
        </script>
    
    // style 구현 (노민성)
    {% endblock %}
    
    {% block styles %}
    <style>
    .mainbox {
        padding-top: 100px;
        text-align: center;
        width: 400px;
        height: 500px;
        background-color: white;
        border-style: solid;
        border-radius: 50px;
        border-color: #ff1554
    }
    </style>
    {% endblock %}



</head>
    
// body 구현 (노민성)
<body>

    <div class="position-absolute top-50 start-50 translate-middle">
        <div class="mainbox" >
        <img src='/static/_images/chicken.png' width='150' height='150' >
            <br><br><br><br>
            <h1>CBNU CHAT BOT</h1>
            <br><br>
            <input type="button" class="btn btn-outline-danger position-absolute top-40 start-50 translate-middle" onclick="chatTrain()" value="start">
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>

</html>

<script>

    var input = document.getElementById("chattext");
    
    input.addEventListener("keyup", function(event) {
      if (event.keyCode === 13) {
        document.getElementById("sendbtn").click();
      }
    });
    
    </script>
